/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/*-----------------------------------*/

body {
    width:100%;
    height:100%;
}

.overlay {
    margin:40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    position: fixed;
}

.overlay:before {
    content:"";
    display: inline-block;
    top:0;
    position:absolute;
    z-index:5;
    left:50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width:  30px 80px 0 80px;
    border-color:  white transparent transparent transparent;
}

.overlay:after {
    content:"";
    display: inline-block;
    bottom:0;
    position:absolute;
    z-index:5;
    left:50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 80px 30px 80px;
    border-color: transparent transparent white transparent;

}

nav {
    position: absolute;
    top:-27px;
    left:50%;
    transform:translateX(-50%);
}

nav a {
    font-size:18px;
    padding:0 5px;
    color:tomato;
}

header {
    padding:15px;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C, #faaa15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C, #faaa15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: 400% 400%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

h1 {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faacaf, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faacaf, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:5px 0 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:90px;
    font-family: 'Pacifico', cursive;
}

h2 {
    text-shadow:0 0 15px rgba(0,0,0,0.15);
    padding-top:10px;
    color:white;
    margin-top:-44px;
    font-size:26px;
    letter-spacing: 1px;
    font-family: 'Abel', sans-serif;
}

.email {
    font-family: 'Abel', sans-serif;
    text-align:center;
    padding-top:5px;
}

.email a {
    color:tomato;
    font-size:20px;
}

.email a > i {
    font-size:16px;
    padding-left:5px;
}

.portfolio-items {
    color:white;
    text-align:center;
    font-size:13px;
    padding-top:50px;
    line-height:130%;
    font-family: 'Abel', sans-serif;
    display:flex;
    flex-direction:row;
}

.portfolio-items a {
    color:#FBD786;
    font-size:18px;
    padding:2px;
    display:inline-block;
}

.portfolio-items p:not(:first-child) {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid white;
}

a.github-link {
    padding-top:4px;
    font-size:16px;
}

/*------Media Queries------*/

@media (max-width: 770px) {
    h1 {
        font-size:52px;
    }

    h2 {
        font-size:16px;
    }
}

/*------Keyframes------*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}